.container {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 30px 7rem;
}

.wrapper-filter-search {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 20px;
  align-items: center;
}

.line {
  width: 100%;
  height: 1px;
  display: inline-block;
  border: 1px solid #c4c4c4;
  margin: 50px 0;
}

.wrapper-search {
  flex: 4;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #efefef;
}

.wrapper-search input {
  color: var(--color-secondary);
  width: 90%;
  height: fit-content;
  /* padding: 10px; */
  outline: none;
  border: none;
  background-color: inherit;
  font-family: var(--poppins);
  font-weight: 400;
}

.iconCostum {
  cursor: pointer;
}

.dropdown-filter {
  padding: 0 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: var(--color-secondary);
  font-family: var(--poppins);
  font-weight: 400;
  height: 70px;
}

.wrapper-history {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.data_not_found {
  width: 100%;
  height: fit-content;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 550px) {
  .container {
    padding: 130px 20px;
  }

  .wrapper-filter-search {
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }

  .wrapper-search,
  .dropdown-filter {
    width: 100%;
    height: 50px;
  }

  .wrapper-search input {
    height: 70px;
    padding: 10px;
  }

  .dropdown-filter {
    width: 100%;
    height: 40px;
    height: 70px;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 130px 20px;
  }
}
