@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&family=Nunito:wght@300;400;600;700;900&family=Playfair+Display:wght@400;700;900&family=Roboto:wght@900&display=swap");

:root {
  --title-size: 30px;
  --padding-pages: 50px 120px;

  /* Fonts */
  --nunito: "Nunito", sans-serif;
  --playfair: "Playfair Display", sans-serif;
  --mulish: "Mulish", sans-serif;
  --roboto: "Roboto", sans-serif;

  /* colors */
  --color-primary: #ffcd61;
  --color-secondary: #393939;
  --color-header: #b8becd;
  --color-select-header: #202336;
  --color-footer: #848484;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #423f3e;
}

.modal {
  backdrop-filter: blur(10px);
  font-family: var(--nunito);
}

.btnModalNo,
.btnModalYes {
  border: none !important;
}

.btnModalNo {
  background-color: var(--color-secondary) !important;
}

.btnModalYes {
  background-color: var(--color-primary) !important;
  color: var(--color-secondary) !important;
}
