.container-card {
  width: 100%;
  height: fit-content;
  display: flex;
  position: relative;
  flex-direction: column;
}

.wrapper-card {
  border-radius: 10px;
  width: 100%;
  height: 150px;
  z-index: 5;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

  background-color: white;
}

.wrapper-img {
  width: 200px;
  height: 100%;
}

.wrapper-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-hover {
  width: 90%;
}

.wrapper-detail {
  padding: 0px 40px;
}

.btn-delete {
  z-index: 0;
  position: absolute;
  width: 100px;
  height: 50px;
  right: 0;
  bottom: 0;
  font-family: var(--nunito);
  font-weight: 700;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-radius: 10px;
  border: none;
}

.btn-rating {
  z-index: 0;
  position: absolute;
  width: 100px;
  height: 50px;
  right: 0;
  top: 0;
  font-family: var(--nunito);
  font-weight: 700;
  color: var(--color-secondary);
  background-color: #aacb73;
  border-radius: 10px;
  border: none;
}

.btn-delete:focus,
.btn-rating:focus {
  border: none;
  outline: none;
}

.customIcon {
  color: var(--color-primary);
}

.title {
  font-family: var(--nunito);
  font-size: 20px;
  font-weight: 700;
}

.price {
  font-family: var(--nunito);
  font-weight: 500;
}

.date,
.qty {
  font-family: var(--nunito);
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .card-hover {
    width: 84%;
  }
}

@media screen and (max-width: 550px) {
  .container-card {
    width: 100%;
    height: fit-content;
    position: relative;
    margin-bottom: 20px;
  }

  .btn-delete {
    z-index: 5;
    left: 10px;
    bottom: 10px;
  }

  .btn-rating {
    z-index: 5;
    bottom: 10px;
    right: 10px;
    top: auto;
  }

  .btn-delete,
  .btn-rating {
    display: none;
    transition: 0.3s;
  }

  .card-hover {
    width: 100%;
  }

  .card-hover2 {
    padding-bottom: 5rem;
  }

  .btn-hover {
    display: block;
  }

  .wrapper-card {
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    /* justify-content: center; */
  }

  .wrapper-img {
    align-self: center;
  }
}
